<head>
    <title>About</title>
</head>

<body>
  <h1> About </h1>
  <%= link_to "Home", root_path %>

  <p>Thank you for coming to our website! We are a very bad start-up selling water in a can.</p>
</body>
