
<head>
  <title>Home</title>
</head>

<body>
  <h1> Home </h1>
  <%= link_to "Alpha Blog", articles_path %> | <%= link_to "About", about_path %>

  <p>Buy our products!!!</p>
  <button type="button" name="Buy Now"></button>
</body>
